footer {
    background-color: black;
    margin-top: 3%;
    .logoCopyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }
    .logo {
        width: 20%;
    }
    .footer__logo {
    width: 100%;
    }
    .copyright {
        color: white;
    }
    
    
    @media screen and (min-width: 768px) {
        .logo {
          margin-bottom: 0;
        }
      
        .mobile-break {
          display: none;
        }
      }
}
